{% extends 'home/base.html' %}
{% load gravatar %}
{% load bootstrap_tags %}
{% block header %}

  {% endblock  %}

{% block content %}

  <div class="row" id="createpost">
      <div class="col-md-6 col-md-offset-3">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row panel panel-default" >
      <div class="col-md-12 panel-body">
      <img src="{% gravatar_url post.author.email %}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" ><br><br>
    <p>You are logged in as {{ user.email }} </p>
        
    </div>
    
  </div>
  <span><a href={% url 'home' %}> Return to Homepage</a></span>

{% endblock  %}