{% extends 'home/base.html' %} {% block content %}

<div class="row" id="subject">
    <div class="col-md-6 col-md-offset-3">
        {{post.title}}

    </div>
</div>
<div class="row" id="authorline">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
        <p class="col-md-6" id="author">Written by:{{post.author}} <span><a href='{% url 'edit_post' post.id %}'>(Edit)</a></span></p>
        </div>
    </div>
</div>
<div class="row" id="image">
    <div class="col-md-6 col-md-offset-3">
        
    {% if post.image %}
        <img src="{{MEDIA_URL}}{{post.image}}"></img>
     {% endif %}
    </div>
</div>
<div class="row" id="body">
    <div class="col-md-6 col-md-offset-3">

        <p>{{ post.content|linebreaksbr }}</p>

    </div>
</div>

<div id="meta"class="col-md-6 col-md-offset-3">
    <div class="row" id="published">
        <div class="col-md-6">
            Published: {{post.created_date}}

        </div>
    </div>
    
    <div class="row" id="date">
        <div class="col-md-6">

            Tags: {{post.tag}}
           
        </div>
    </div>
     <div class="row" id="views">
        <div class="col-md-6">
            Views: {{post.views}}

        </div>
    </div>
</div>
{% endblock %}