{% extends 'home/base.html' %} {% block content %}

<div class="row" id="subject">
    <div class="col-md-6 col-md-offset-3">
        {{item.title}}

    </div>
</div>
<div class="row" id="image">
    <div class="col-md-6 col-md-offset-3">

        <img src="{{MEDIA_URL}}{{item.image}}"></img>

    </div>
</div>
<div class="row" id="body">
    <div class="col-md-6 col-md-offset-3">

        {{item.content}}

    </div>
</div>

<div id="meta"class="col-md-6 col-md-offset-3">
    <div class="row" id="published">
        <div class="col-md-6">
            Published: {{item.created_date}}

        </div>
    </div>
    
    <div class="row" id="date">
        <div class="col-md-6">

            Tags: {{item.tag}}
           
        </div>
    </div>
     <div class="row" id="views">
        <div class="col-md-6">
            Views: {{item.views}}

        </div>
    </div>
</div>
{% endblock %}