#header{
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
 
    
}

#published{
    margin-top: 15px;
}

#date{
      margin-top: 15px;
}

#views{
      margin-top: 15px;
}
#meta{
    margin-top: 5px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    
}
.titlelink{
     color:black;
    text-decoration: none
}
 .titlelink:hover{
     color:black;
    text-decoration: none;
}
#subject{
    margin-top: 10px;
    font-size:20px;
    margin-bottom: 40px
}

#createpost{
    text-align: center
}



.posttitle{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top:20px;
    font-weight: bold;
    font-size:25px;
}

.postbody{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top:5px;
    line-height: 2.0;
}
.blog_links{
    
    color:black;
}
.blog_links:hover{
     color:black;
     text-decoration: underline green;
   
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}
.navbar-toggle {
     padding: 0 0;
     margin-top: 7px;
     margin-bottom: 0;
}


#body{
    line-height: 2.0;
}
